In [1]:
!dir *.csv

 Volume in drive C is Local Disk
 Volume Serial Number is 18D4-940E

 Directory of C:\Users\Sachin\Downloads\BDDT SALFORD

19-04-2022  20:14        42,400,056 clinicaltrial_2019.csv
19-04-2022  20:14        46,318,151 clinicaltrial_2020.csv
27-11-2021  20:14        50,359,696 clinicaltrial_2021.csv
08-04-2022  08:40         5,295,548 mesh.csv
08-04-2022  08:40           678,999 pharma.csv
               5 File(s)    145,052,450 bytes
               0 Dir(s)  111,518,629,888 bytes free

In [1]:
import pandas as pd

In [2]:
clinic = pd.read_csv('clinicaltrial_2021.csv', sep='|')
mesh = pd.read_csv('mesh.csv')
pharma = pd.read_csv('pharma.csv')

In [3]:
clinic = pd.read_csv('clinicaltrial_2020.csv', sep='|')
mesh = pd.read_csv('mesh.csv')
pharma = pd.read_csv('pharma.csv')

In [4]:
clinic.head(2)

,Id,Sponsor,Status,Start,Completion,Type,Submission,Conditions,Interventions
0,NCT02758028,The University of Hong Kong,Recruiting,Aug 2005,Nov 2021,Interventional,Apr 2016,NaN,NaN
1,NCT02751957,Duke University,Completed,Jul 2016,Jul 2020,Interventional,Apr 2016,"Autistic Disorder,Autism Spectrum Disorder",NaN

In [5]:
mesh.head(2)

         term                 tree
0  Calcimycin  D03.633.100.221.173
1     A-23187  D03.633.100.221.173

In [6]:
pharma.head(2)

,Company,Parent_Company,Penalty_Amount,Subtraction_From_Penalty,Penalty_Amount_Adjusted_For_Eliminating_Multiple_Counting,Penalty_Year,Penalty_Date,Offense_Group,Primary_Offense,Secondary_Offense,...,NAICS_Code,NAICS_Translation,HQ_Country_of_Parent,HQ_State_of_Parent,Ownership_Structure,Parent_Company_Stock_Ticker,Major_Industry_of_Parent,Specific_Industry_of_Parent,Info_Source,Notes
0,Abbott Laboratories,Abbott Laboratories,"$5,475,000",$0,"$5,475,000",2013,20131227,government-contracting-related offenses,False Claims Act and related,kickbacks and bribery,...,NaN,NaN,USA,Illinois,publicly traded,ABT,pharmaceuticals,pharmaceuticals,https://www.justice.gov/opa/pr/abbott-laborato...,NaN
1,Abbott Laboratories Inc.,AbbVie,"$1,500,000,000",$0,"$1,500,000,000",2012,20120507,healthcare-related offenses,off-label or unapproved promotion of medical p...,NaN,...,NaN,NaN,USA,Illinois,publicly traded,ABBV,pharmaceuticals,pharmaceuticals,http://www.justice.gov/opa/pr/abbott-labs-pay-...,NaN

In [7]:
clinic.columns

Index(['Id', 'Sponsor', 'Status', 'Start', 'Completion', 'Type', 'Submission',
       'Conditions', 'Interventions'],
      dtype='object')

In [8]:
pharma.columns

Index(['Company', 'Parent_Company', 'Penalty_Amount',
       'Subtraction_From_Penalty',
       'Penalty_Amount_Adjusted_For_Eliminating_Multiple_Counting',
       'Penalty_Year', 'Penalty_Date', 'Offense_Group', 'Primary_Offense',
       'Secondary_Offense', 'Description', 'Level_of_Government',
       'Action_Type', 'Agency', 'Civil/Criminal', 'Prosecution_Agreement',
       'Court', 'Case_ID', 'Private_Litigation_Case_Title',
       'Lawsuit_Resolution', 'Facility_State', 'City', 'Address', 'Zip',
       'NAICS_Code', 'NAICS_Translation', 'HQ_Country_of_Parent',
       'HQ_State_of_Parent', 'Ownership_Structure',
       'Parent_Company_Stock_Ticker', 'Major_Industry_of_Parent',
       'Specific_Industry_of_Parent', 'Info_Source', 'Notes'],
      dtype='object')

In [9]:
mesh.columns

Index(['term', 'tree'], dtype='object')

In [10]:
clinic.columns

Index(['Id', 'Sponsor', 'Status', 'Start', 'Completion', 'Type', 'Submission',
       'Conditions', 'Interventions'],
      dtype='object')

In [11]:
clinic.shape

(356466, 9)

## Question 1
    
    done

In [12]:
clinic['Id'].unique().shape[0]

356466

# Question 2
 
     done

In [13]:
clinic.groupby('Type')["Id"].count().sort_values(ascending=False)

Type
Interventional                      277631
Observational                        71434
Observational [Patient Registry]      7332
Expanded Access                         69
Name: Id, dtype: int64

In [14]:
clinic[clinic['Conditions']=="Syndrome"].shape

(172, 9)

In [15]:
clinic[clinic['Conditions'].str.lower().str.strip() == "carcinoma"].shape

(3435, 9)

### Question 3 
    
    done

In [16]:
cond = clinic['Conditions'].str.split(',')

In [17]:
import numpy as np

In [18]:
v = []
for value in cond.values:
    if value is not np.nan:
        v.extend(value)

In [19]:
type(np.nan)

float

In [20]:
value is np.nan

False

In [21]:
s = pd.Series(v)

In [22]:
s.value_counts().head(5)

Carcinoma            12245
Diabetes Mellitus    10425
Neoplasms             8534
Breast Neoplasms      8009
Syndrome              7419
dtype: int64

# Question 4

    not done

In [28]:
new = mesh[['term', 'code']]
new.head()

         term code
0  Calcimycin  D03
1     A-23187  D03
2     Temefos  D02
3     Temefos  D02
4     Temefos  D02

In [29]:
new.set_index('term', inplace=True)

In [37]:
m = []
for value in clinic['Conditions']:
    if value is not np.nan:
        for key in value.split(','):
            if key in new.index:
                m.append(new.loc[key, "code"])

In [50]:
k = []
for item in m:
    if type(item) == pd.core.series.Series:
        for x in item.values:
            k.append(x)
    else:
        k.append(item)

In [51]:
s = pd.Series(k)

In [53]:
s.value_counts().head()

C04    133091
C23    124589
C01     94293
C14     88065
C10     83894
dtype: int64

## Question 5 

    done

In [61]:
clinic[~clinic['Sponsor'].isin(pharma['Parent_Company'])]['Sponsor'].value_counts().head(10)

National Cancer Institute (NCI)            3100
M.D. Anderson Cancer Center                2238
Merck Sharp & Dohme Corp.                  2184
Mayo Clinic                                2097
Assistance Publique - Hôpitaux de Paris    2043
Novartis Pharmaceuticals                   1962
Massachusetts General Hospital             1823
Assiut University                          1806
Hoffmann-La Roche                          1761
National Taiwan University Hospital        1720
Name: Sponsor, dtype: int64

In [62]:
data = clinic['Completion'].str.split(" ", expand=True)

In [63]:
data.columns = ["Month", "Year"]

In [64]:
data['Month'].unique()

array(['Nov', 'Jul', 'Jan', 'Dec', 'Sep', 'Oct', 'Mar', 'May', 'Jun',
       'Apr', nan, 'Feb', 'Aug'], dtype=object)

In [67]:
mnt = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

### Question 6

    done

In [75]:
data[(data['Year'] == '2020')&(clinic['Status']=="Completed")].groupby('Month').count().loc[mnt]

       Year
Month
Jan    1544
Feb    1286
Mar    1740
Apr    1080
May    1176
Jun    1424
Jul    1237
Aug    1126
Sep    1167
Oct    1176
Nov    1078
Dec    2084

In [73]:
clinic.head()

,Id,Sponsor,Status,Start,Completion,Type,Submission,Conditions,Interventions
0,NCT02758028,The University of Hong Kong,Recruiting,Aug 2005,Nov 2021,Interventional,Apr 2016,NaN,NaN
1,NCT02751957,Duke University,Completed,Jul 2016,Jul 2020,Interventional,Apr 2016,"Autistic Disorder,Autism Spectrum Disorder",NaN
2,NCT02758483,Universidade Federal do Rio de Janeiro,Completed,Mar 2017,Jan 2018,Interventional,Apr 2016,Diabetes Mellitus,NaN
3,NCT02759848,Istanbul Medeniyet University,Completed,Jan 2012,Dec 2014,Observational,May 2016,"Tuberculosis,Lung Diseases,Pulmonary Disease",NaN
4,NCT02758860,University of Roma La Sapienza,"Active, not recruiting",Jun 2016,Sep 2020,Observational [Patient Registry],Apr 2016,"Diverticular Diseases,Diverticulum,Diverticulosis",NaN